In [8]:
#Pandas
import numpy as np
import pandas as pd
s = pd.Series((1,2,3,4,5))
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
s.values

array([1, 2, 3, 4, 5])

In [10]:
s = pd.Series(np.random.rand(5),('a','b','c','d','e'))
print(s)

a    0.006278
b    0.222068
c    0.958215
d    0.405304
e    0.914043
dtype: float64

In [12]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [14]:
s.values

array([ 0.00627839,  0.22206785,  0.95821535,  0.40530427,  0.91404337])

In [16]:
type(s)

pandas.core.series.Series

In [20]:
s.mean()

0.5011818474265268

In [22]:
s.sum()

2.5059092371326344

In [23]:
a = dict(s)

In [25]:
print(a)

{'c': 0.95821534742593129, 'd': 0.4053042678874329, 'e': 0.91404337479198339, 'a': 0.0062783922493451216, 'b': 0.22206785477794211}

In [27]:
s1 = pd.Series(a)

In [37]:
print(s1)

a    0.006278
b    0.222068
c    0.958215
d    0.405304
e    0.914043
dtype: float64

In [34]:
s1.reindex(['e','b'])

e    0.914043
b    0.222068
dtype: float64

In [36]:
pd.Series.reindex?

In [39]:
dataf = pd.DataFrame({'first': s1+s1,'second': s1*s1})

In [42]:
dataf

      first    second
a  0.012557  0.000039
b  0.444136  0.049314
c  1.916431  0.918177
d  0.810609  0.164272
e  1.828087  0.835475

In [44]:
dataf.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [46]:
dataf.columns

Index(['first', 'second'], dtype='object')

In [48]:
dataf['three'] = s*s*s

In [50]:
dataf

      first    second         three
a  0.012557  0.000039  2.474830e-07
b  0.444136  0.049314  1.095108e-02
c  1.916431  0.918177  8.798110e-01
d  0.810609  0.164272  6.657996e-02
e  1.828087  0.835475  7.636607e-01

In [52]:
type(dataf)

pandas.core.frame.DataFrame

In [54]:
dataf.second

a    0.000039
b    0.049314
c    0.918177
d    0.164272
e    0.835475
Name: second, dtype: float64

In [56]:
dataf.drop('a')

      first    second     three
b  0.444136  0.049314  0.010951
c  1.916431  0.918177  0.879811
d  0.810609  0.164272  0.066580
e  1.828087  0.835475  0.763661

In [59]:
dataf.drop('first',axis = 1)

     second         three
a  0.000039  2.474830e-07
b  0.049314  1.095108e-02
c  0.918177  8.798110e-01
d  0.164272  6.657996e-02
e  0.835475  7.636607e-01

In [64]:
dataf.mean(axis = 0)

first     1.002364
second    0.393455
three     0.344201
dtype: float64

In [66]:
dataf.median()

first     0.810609
second    0.164272
three     0.066580
dtype: float64

In [71]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
first     5 non-null float64
second    5 non-null float64
three     5 non-null float64
dtypes: float64(3)
memory usage: 320.0+ bytes

In [72]:
dataf.describe()

          first    second         three
count  5.000000  5.000000  5.000000e+00
mean   1.002364  0.393455  3.442006e-01
std    0.843422  0.446220  4.385851e-01
min    0.012557  0.000039  2.474830e-07
25%    0.444136  0.049314  1.095108e-02
50%    0.810609  0.164272  6.657996e-02
75%    1.828087  0.835475  7.636607e-01
max    1.916431  0.918177  8.798110e-01

In [74]:
pd.DataFrame.drop?

In [76]:
dataf.apply(min,axis = 1)

a    2.474830e-07
b    1.095108e-02
c    8.798110e-01
d    6.657996e-02
e    7.636607e-01
dtype: float64

In [77]:
#On each column 

#find the sum of (sum of the data with its mean)